<% include ../partials/header %>
<div class='container'>
    <div class='row'>
        <div class='col-md-12 text-center'>
            <h1>Edit your own course</h1>
        </div>
    </div>

    <form method='post' action='/course/<%= data._id %>?_method=PUT'>
            <div class="col-md-offset-4 col-md-4">
                <label for='eng-radio'>
                    <div class="thumbnail">
                        <img src="https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/<%=  mappingObject.subjectMap[data.subject] %>" class="img-responsive">
                    </div>
                </label>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
                <table class='table'>
                    <tr>
                        <td>Course Name:</td>
                        <td><input type='text' name='name' class='form-control' placeholder='eg. Fun with Mathematic' value='<%= data.name %>'></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><textarea rows='5' name='desc' placeholder='very fun course with me, you will learn many things' class='form-control'><%= data.desc %></textarea></td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td><input type='checkbox' name='date' value='mon' <%= data.date.indexOf('mon')!=-1 ? 'checked' : '' %>> Monday 
                        <input type='checkbox' name='date' value='tue' <%= data.date.indexOf('tue')!=-1 ? 'checked' : '' %>> Tuesday 
                      <br><input type='checkbox' name='date' value='wed' <%= data.date.indexOf('wed')!=-1 ? 'checked' : '' %>> Wednesday 
                      <input type='checkbox' name='date' value='thu' <%= data.date.indexOf('thu')!=-1 ? 'checked' : '' %>> Thrusday 
                      <br><input type='checkbox' name='date' value='fri' <%= data.date.indexOf('fri')!=-1 ? 'checked' : '' %>> Friday 
                      <input type='checkbox' name='date' value='sat' <%= data.date.indexOf('sat')!=-1 ? 'checked' : '' %>> Saturday 
                      <br><input type='checkbox' name='date' value='sun' <%= data.date.indexOf('sun')!=-1 ? 'checked' : '' %>> Sunday </td>
                    </tr>
                    <tr>
                        <td>Price per hour (Baht):</td>
                        <td><input type='number' name='price' class='form-control' value='<%= data.price %>'></td>
                    </tr>
                    <tr>
                        <td>Class:</td>
                        <td>
                            <select class='form-control' name='class'>
                                <option value='kindergarden' <%= data.level=='kindergarden' ? 'selected' : '' %>>Kindergarden</option>
                                <option value='primary' <%= data.level=='primary' ? 'selected' : '' %>>Primary School</option>
                                <option value='secondary' <%= data.level=='secondary' ? 'selected' : '' %>>Secondary School</option>
                                <option value='university' <%= data.level=='university' ? 'selected' : '' %>>University</option>
                                <option value='activities' <%= data.level=='activities' ? 'selected' : '' %>>Activities</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>
                            <input type='checkbox' name='location' value='bts' <%= data.location.indexOf('bts')!=-1 ? 'checked' : '' %>> BTS Station
                            <br>
                            <input type='checkbox' name='location' value='mrt' <%= data.location.indexOf('mrt')!=-1 ? 'checked' : '' %>> MRT Station
                            <br>
                            <input type='checkbox' name='location' value='siam' <%= data.location.indexOf('siam')!=-1 ? 'checked' : '' %>> Siam
                            <br>
                            <input type='checkbox' name='location' value='silom' <%= data.location.indexOf('silom')!=-1 ? 'checked' : '' %>> Silom
                            <br>
                            <input type='checkbox' name='location' value='home' <%= data.location.indexOf('home')!=-1 ? 'checked' : '' %>> Home Tutor
                        </td>
                    </tr>
                    <tr>
                        <td>Youtube Video Link:</td>
                        <td>
                            <input type='text' name='youtube' class='form-control' value='<%= data.video %>'>
                        </td>
                    </tr>
                </table>
                <div class='text-center'>
                    <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
