<% include ../partials/header %>
<div class='container'>
    <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-4'>
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <img src='https://dl.dropboxusercontent.com/u/8980599/Pandit_hosting/<%= mappingObject.subjectMap[data.subject] %>' class='img-responsive'>
                                <h3>Rating: </h3>
                                <% for(var i=0;i<data.rating+0.5;i++){ %><span class="glyphicon glyphicon-star" aria-hidden="true"></span><% } %>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-8'>
                        <h1><%= data.name %></h1>
                        <h3>by <%= data.tutor.name %></h3>
                        <p></p><%= data.desc %></p>
                            <a class='btn btn-default btn-lg btn-success'>Chat with the tutor</a>
                            <a class='btn btn-default btn-lg btn-primary' href='#review'>Write a review</a>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class='row'>
                            <div class='col-md-3 col-sm-6'><strong>Date:</strong><br>
                                    <% data.date.forEach(function(y){%><%= mappingObject.dateMap[y] %> <% })%>
                            </div>
                            <div class='col-md-3 col-sm-6 '><strong>Price:</strong><br><%= data.price %> Baht/hr</div>
                            <div class='col-md-3 col-sm-6'><strong>Class:</strong><br><%= data.level %></div>
                            <div class='col-md-3 col-sm-6'><strong>Location:</strong><br><% data.location.forEach(function(z){ %><%= mappingObject.locationMap[z] %> <%})%></div>
                        </div>
                        <% if (youtube.length>1){ %>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <hr>
                                    <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= youtube %>"></iframe>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <div class='row'>
                            <div class='col-md-12'>
                            <h2>Tutor Profiles</h2>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4 col-sm-12'>
                                <img src=<% if(user.profilepic){ %>'/uploads/<%= user.profilepic %>'<% }else if(user.facebook.profilepic){ %>'<%=user.facebook.profilepic%>'<% }else{ %>'/uploads/kitten.jpg'<%}%>' class='img-responsive img-circle' width='200px'>
                            </div>
                            <div class='col-md-8'>
                                <table class='table'>
                                    <tr>
                                        <td><strong>Name:</strong></td>
                                        <td><%= user.local.fullname || user.facebook.name %></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Graduated from:</strong></td>
                                        <td><%= user.graduate %></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Age:</strong></td>
                                        <td><%= user.age %></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Introduction:</strong></td>
                                        <td><%= user.introduce %></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <h2><%= data.comment.length %> Review<%= data.comment.length>1 ? "s" : "" %> by student:</h2>
                                <ul>
                                    <% data.comment.forEach(function(indComment){ %>
                                    <li>
                                        "<%= indComment.content %>"
                                            <br>
                                            <% for(var i=0;i<indComment.rating;i++){ %><span class="glyphicon glyphicon-star" aria-hidden="true"></span><% } %> by <%= indComment.student.name %>
                                            <hr>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <br>
                                <form id='review' action='/course/<%= data._id %>/comment' method='post'>
                                    <div class='form-group'>
                                        <textarea rows='4' class='form-control' placeholder='Write your review here...' name='review'></textarea>
                                    </div>

                                    <h3 class='text-center'>
                                        Rating:
                                    </h3>
                                        
                                    <span class="rating">
                                        <input type="radio" class="rating-input"
                                            id="rating-input-1-5" name="ratinginput" value='5'>
                                        <label for="rating-input-1-5" class="rating-star rating-handler"></label>
                                        <input type="radio" class="rating-input"
                                            id="rating-input-1-4" name="ratinginput" value='4'>
                                        <label for="rating-input-1-4" class="rating-star rating-handler"></label>
                                        <input type="radio" class="rating-input"
                                            id="rating-input-1-3" name="ratinginput" value='3'>
                                        <label for="rating-input-1-3" class="rating-star rating-handler"></label>
                                        <input type="radio" class="rating-input"
                                            id="rating-input-1-2" name="ratinginput" value='2'>
                                        <label for="rating-input-1-2" class="rating-star rating-handler"></label>
                                        <input type="radio" class="rating-input"
                                            id="rating-input-1-1" name="ratinginput" value='1'>
                                        <label for="rating-input-1-1" class="rating-star rating-handler"></label>
                                    </span>

                                    <div class='form-group text-center'>
                                        <button type='submit' class='btn btn-primary'>Submit a review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<% include ../partials/footer %>